---
import { getLangFromUrl, useTranslation } from "@/i18n";
import Button_Networks from "@/components/Button_Networks.astro";
import ButtonMoreInformation from "./Button_MoreInformation.astro";

const lang = getLangFromUrl(Astro.url);
const i18n = await useTranslation(lang);
---

<div
  id="footer"
  class="z-10 flex lg:flex-row flex-col justify-between items-center gap-5 px-4 text-white lg:px-28 py-10 border-white/50 border-t w-full"
>
  <div class="flex justify-center items-center gap-6 text-white">
    <p class="text-sm">Copyright © GLACI {new Date().getFullYear()}</p>
  </div>
  <div class="flex justify-center animate-bounce duration-1000">
    <a
      href="#hero"
      class="px-0.5 py-4 border-[1.8px] border-white rounded-full"
    >
      <img
        src="/icons/arrow.svg"
        alt="arrow"
        class="w-8 h-auto object-contain"
      />
    </a>
  </div>
  <ButtonMoreInformation i18n={i18n} lang={lang} />
  <div class="flex flex-row justify-end items-center gap-6">
    <p class="font-light text-white text-sm">{i18n.HERO.FOOTER_RIGHT_TEXT}</p>
    <Button_Networks i18n={i18n} />
  </div>
</div>
