---
import "../styles/globals.css";
import Navbar from "@/components/Navbar.astro";
import Footer from "@/components/Footer.astro";
import { getLangFromUrl } from "@/i18n";
const lang = getLangFromUrl(Astro.url);
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="GLACI - Grupo Global de Ciudades Inteligentes, se dedica a impulsar la transformación de las ciudades en ecosistemas tecnológicos y sostenibles, centrados en el bienestar y la calidad de vida de sus habitantes a través de la innovación." />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/webp" href="/logo/icon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
  </body>
</html>
<script type="">
  import AOS from "aos";
  import "aos/dist/aos.css";

  document.addEventListener("DOMContentLoaded", function () {
    AOS.init();
  });
</script>
<style is:global>
  @import url("https://fonts.googleapis.com/css?family=Montserrat:300,900|Titillium+Web:400,600,700&display=swap");

  :root {
    --color-title: #00bbff;
    --color-text: #ffff;
    --color-text2: #d5d5d5;
    --color-blue: #00ccff;
    --color-bg-1: #040e66;
    --color-bg-2: #050647;
    --color-bg-3: #121215;
    --color-bg-dropdown: #061935;
  }
  html,
  body {
    font-family: "Titillium Web", sans-serif;
    overflow-x: hidden;
  }

  html {
    background-color: var(--color-bg-1);
    scroll-behavior: smooth;
  }
  /* TÍTULOS */
  h1,
  h2 {
    font-family: "Montserrat", sans-serif;
  }

  /* TEXTO NORMAL */
  h3,
  h4,
  h5,
  h6p,
  span,
  li,
  a,
  button,
  input,
  textarea {
    font-family: "Titillium Web", sans-serif;
  }
</style>
